header {
    padding: 59px 69px 49px 59px;
    margin-bottom: 40px;
}

main {
    display: flex;
    justify-content: center;
}

.warp_banner {
    margin: 37px 40px 0px 0px;
}

.info_banner {
    padding: 16px 9px 20px;
}

.info_banner strong {
    font-size: 1.5em;
    color: #252525;
    font-weight: 400;
}

.info_banner p {
    margin: 5px 0px 0px;
    font-size: 0.8em;
    font-weight: 500;
    color: #7c7c7c;
}

.warp_form {
    border: 1px solid #e5e5e5;
    padding: 60px 70px;
}

.item_tf {

}

.item_ip {
    width: 100%;
}

